body {
    font-family: 'Roboto', 'Raleway', sans-serif;
    font-size: 16px;
    color: #212121;
    background-color: #FFFFFF;
    line-height: 1.5;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}
ul {
    margin: 0;
    padding-left: 0;
    list-style: none;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}
.container {
    max-width: 1158px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto;


}
.section{
    padding-top: 120px;
    padding-bottom: 120px;
}
.page-header{
    max-width: 1440px;
    margin: 0 auto;
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}
.header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;

    
}
.header-navigation{
    display: flex;
    gap: 76px;
}
.contacts{
    font-style: normal;
}

.contacts-list{
    display: flex;
    gap: 40px;
}
.page-nav{
    display: flex;
    gap: 40px;
    
}

.nav-link{
    position: relative;
    color: #2E2F42;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding-top: 24px;
    padding-bottom: 24px;
    display: inline-block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}


.contact-link {
    padding-top: 24px;
    padding-bottom: 24px;
    display: inline-block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.nav-link:focus
 {
    color: #404BBF;
}
.nav-link:active {
    color: #404BBF;
}
.current{
    color: #404BBF;
}  
.current::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    background-color: #404BBF;
    border-radius: 2px;
}

.contact-link {
    color: #434455;
    padding-top: 24px;
    padding-bottom: 24px;
}
.contact-link:hover,
.contact-link:focus{
    color: #404BBF;
}
.page-title-container{
    display: flex;
    flex-direction: column;
    align-items: center; 
}
.section-title{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: #FFFFFF;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    max-width: 496px; 
    margin-bottom: 48px;
    margin-left: auto;
    margin-right: auto;
    
}
.page-title{
    background-color: #2E2F42;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
        ),
    url(../images/people-office.jpg);
    max-width: 1440px;
    margin: 0 auto;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.page-footer {
    background-color: #2E2F42;
}

.page-title {
    padding-top: 188px;
    padding-bottom: 188px;
}

.page-title-button{
    color: #FFFFFF;
    background-color: #4D5AE5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    /* height: 56px;  */
    border: none;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    

}
.page-title-button:hover,
.page-title-button:focus {
    background-color: #404BBF;

}

.logo-header{
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    color: #2E2F42;
    padding-top: 24px;
    padding-bottom: 24px;
}
.logo-accent{
    color: #4D5AE5;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
    
}
.features-list{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.features-icon{

    height: 64px;
    width: 64px;
}
.features-icon-box{
    display: flex;
    background-color: #F4F4FD;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    height: 112px;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
    
}
.feature-title {
    margin-bottom: 8px;
}
.features-list-item {
    width: calc((100% - 24px * 3) / 4);
}

.contacts-team-list{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 8px 0 0 0;
}

.team{
    background-color: #F4F4FD;
}
.title-team{
    font-size: 36px; 
    line-height: 40px;
    letter-spacing: 0.02em;
    margin-bottom: 72px;
    text-align: center;
}
.team-list{
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    
}
.team-item{
    border-radius: 0 0 4px 4px;
    width: calc((100% - 24px * 3) / 4);
    background-color: #FFFFFF;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
.team-content{
    padding: 32px 16px; 
}
.team-hero{
    margin-bottom: 8px;
}
.contact-link-team,
.contact-link-footer
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4D5AE5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-link-team:hover,
.contact-link-team:focus {
    background-color: #404BBF;
}
.contact-link-footer:hover,
.contact-link-footer:focus {
    background-color:#31d0aa;
}
.contact-icon{
    fill: #F4F4FD;
}

.portfolio-list{
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
}

.portfolio-thumb {
    position: relative;
    overflow: hidden;
}
.overlay {
    padding: 40px 32px;
    background-color: #4D5AE5;
    color:#F4F4FD;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    text-align: justify;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: absolute;
}
.portfolio-item:hover .overlay {
    transform: translateY(0);
}

.portfolio-category{
    margin-bottom: 8px;
}
.portfolio-item{
    width: calc((100% - 24px * 2) / 3);
    position: relative;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
   
}
.portfolio-item:hover {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
        0 1px 1px 0 rgba(46, 47, 66, 0.16),
        0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.portfolio-content{
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
    border-bottom: 1px solid #e7e9fc;
    padding: 32px 16px;

}
.portfolio-title{
    text-align: center;
    margin-bottom: 72px;

}

.team-hero,
.team-description{
    text-align: center;
}
.logo-footer{
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    color: #FFFFFF;
    display: inline-block;
    margin-bottom: 16px;
}
.logo-accent-footer{
    color: #4D5AE5;
}
.page-footer{
    padding-top: 100px;
    padding-bottom: 100px;
    
}
.footer-text{
    color: #FFFFFF;
    margin-top: 0;
    
}
.footer-content{
    max-width: 264px;

}
.contacts-footer-list{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
}

.social-title,
.subscribe-title {
    color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}

.container-footer{
    display: flex;
    align-items: baseline;
    /* gap: 120px; */
}
.container-footer>*:not(:last-child) {
    margin-right: 120px;
}
.container-footer> :nth-child(2) {
    margin-right: 80px;
}
.modal-overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(46, 47, 66, 0.4);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms;
} 
.modal-overlay.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}
.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 408px;
    width: 100%;
    min-height: 584px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background-color: #FCFCFC;
    border-radius: 4px;
    padding: 72px 24px 24px 24px;

}

.modal-close-button{
    position: absolute;
    top: 24px;
    right: 24x;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    border-radius: 100%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color:#E7E9FC;
    background-color: #E7E9FC;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-button:hover,
.modal-close-button:focus{
    fill: #404BBF;
}
.modal-close-button:hover .modal-close-icon,
.modal-close-button:focus .modal-close-icon {
    fill: #FFFFFF;
}
.modal-close-icon{
    fill: #2E2F42;
}
.modal-title{
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
    max-width: 360px;
    margin-bottom: 16px;
}
.modal-label{
    font-weight: 400;
    font-size: 12px;
    line-height: 117%;
    letter-spacing: 0.04em;
    color: #8E8F99;
    display: inline-block;
    margin-bottom: 4px;
}
.modal-input{
    width: 100%;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
    height: 40px;
    padding-left: 38px;
    /* transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}
.modal-input:focus{
    outline: transparent;
    border-color: #4D5AE5;
}
.modal-input:focus + .modal-contact-icon{
    outline: transparent;
    stroke: #4D5AE5;
    fill: #4D5AE5;
}
.button-submit{
    display: block;
    margin: 0 auto;
    border: none;
    border-radius: 4px;
    padding: 16px 32px;
    width: 169px;
    height: 56px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background-color: #4D5AE5;
    color: #FFFFFF;

}
.button-submit:active {
    background-color: #404BBF;
}
.modal-textarea{
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
    height: 120px;
    color: #212121;
    resize: none;
    padding-top: 8px;
    padding-left: 16px;
}
.modal-textarea:focus {
    outline: transparent;
    border-color: #4D5AE5;
}
.modal-textarea:focus::placeholder {
    color: #4D5AE5;
}
.accent-policy{
    color: #4D5AE5 ;
    text-decoration: underline;
}
.modal-input:active{
    border: 1px solid #0f18b4;
    outline: none;
}

.modal-icon-wrapper{
    position: relative;
}
.modal-contact-icon {
    position: absolute;
    stroke: #212121;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    margin-bottom: 8px;
}
.accept-box{
    margin-bottom: 24px;
}
.form-label {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8E8F99;
}
.check-icon {
    display: none;
    fill: #F4F4FD;
    width: 12px;
    height: 12px;
}
.accept:checked+.form-label .custom-checkbox .check-icon {
    display: block;
}
.custom-checkbox {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    background-color: transparent;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.feadback-list{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
}
.subscribe-email{
    background-color: transparent;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    width: 264px;
    height: 40px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    padding-left: 16px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe-email:hover {
    outline: transparent;
    border-color: #31D0AA;
}
.subscribe-email::placeholder{
    font-weight: 400;
    font-size: 12px;
    line-height: 200%;
    letter-spacing: 0.04em;
    color: #FFFFFF;
}
.subscribe-row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center; 
    gap: 24px;
    padding-top: 16px;
}
.subscribe-btn {
    display: flex;
    align-items: center;
    gap: 16px;
    border-radius: 4px;
    padding: 8px 24px;
    width: 165px;
    height: 40px;
    background-color: #4D5AE5;
    color: #FFFFFF;
    border: none;
}
.subscribe-btn:hover {
    outline: transparent;
    background-color: #31D0AA;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-icon-send{
    fill:#FFFFFF;
}

.accept {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
    white-space: nowrap;
}
.accept:checked+.form-label .custom-checkbox {
    background-color: #4D5AE5;
    border-color: #4D5AE5;
}